// @import "~ag-grid-community/dist/styles/ag-grid.css";
// @import "~ag-grid-community/dist/styles/ag-theme-balham.css";


@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham.scss";
// @import "../node_modules/ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-fresh.scss";

$odd-row-background-color: rgb(238, 20, 68);
